
class Config(object):
    SOCIAL_TWITTER = {
        'oauth': {
            'consumer_key': 'twitter consumer key',
            'consumer_secret': 'twitter consumer secret'
        }
    }
    
    SOCIAL_FACEBOOK = {
        'oauth': {
            'consumer_key': 'facebook app id',
            'consumer_secret': 'facebook app secret',
            'request_token_params': {
                'scope': 'email'
            }
        }
    }
    
    # For running the tests...
    TWITTER_USERNAME = 'your twitter username'
    TWITTER_PASSWORD = 'your twitter password'