
class Config(object):

    SOCIAL_TWITTER = {
        'consumer_key': 'xxxx',
        'consumer_secret': 'xxxx'
    }

    SOCIAL_FACEBOOK = {
        'consumer_key': 'xxxx',
        'consumer_secret': 'xxxx'
    }

    SOCIAL_FOURSQUARE = {
        'consumer_key': 'xxxx',
        'consumer_secret': 'xxxx'
    }

    SOCIAL_GOOGLE = {
        'consumer_key': 'xxxx',
        'consumer_secret': 'xxxx'
    }

    TWITTER_USERNAME = 'xxxx'
    TWITTER_PASSWORD = 'xxxx'